body { 
    font-family: sans-serif; 
    padding: 20px; 
    max-width: 600px; 
    margin: auto; 
}


.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.cart-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.total-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}